*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(../Assets/images/Contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}
h1
{
    font-size: 100px;
    color: aquamarine;
    font-family: monospace;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}