*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background-image: url(../Assets/images/header.webp);
    font-size: 42px;
    padding: 2em .8em;
}

body
{
    background-image: url(../Assets/images/Portfolio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}
h1 {
    font-size: 4.8vw;
    width: fit-content;
    overflow: hidden;
    text-transform: uppercase;
    color: antiquewhite;
    font-size: 60px;
    position: relative;
    left: 35%;
    top: 10rem;
}
h1 span {
    display: inline-block;
    width: fit-content;
    overflow: hidden;
    line-height: 2;
}
h1 span:first-child {
    text-indent: 100%;
    border-right: 1vw solid transparent;
    
}
h1 span:last-child {
    text-indent: -100%;
    /* border-left: .5vw solid #000; */
}
section
{
    display: inline-block; 
    border: .1px solid aquamarine;
    margin: 500px auto 20px 400px;
    font-family: monospace;
    border-radius: 25px;
    padding: 10px;
}

a
{
    font-size: 100px;
    color: antiquewhite;
    text-decoration: none;
}
#skills
{
    background-image: url(../Assets/gif/Skills.gif);
    background-size: cover;

}
#services
{
    background-image: url(../Assets/images/web.webp);
    background-size: cover;
}
#contact
{
    background-image: url(../Assets/gif/Contact.gif);
    background-size: cover;
}

